*{
  margin: 0px;
  padding: 0px;

}
html, body {
    height: 100%;
    background-color:black;
  }
  
  body {
    margin: 0;
    display: flex;
 
   justify-content: center;

    align-items: center;
 }

  p{
    font-family: 'Chewy', cursive;

  }

  @media only screen and (max-height: 500px){
    #sk{
  margin: auto ;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  }
}

  #p5_loading {

    font-size: 80px;
    font-family: 'Chewy', cursive;
    /*text-align: center;*/
    vertical-align: middle;
    color: red;
    
  }